<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{! bulma connection }}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    {{! google font connection }}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap"
      rel="stylesheet"
    />
    {{! stylesheet }}
    <link rel="stylesheet" href="/css/style.css" />
    <title>ThoughtShare</title>
  </head>
  <body>
    <header>
      {{! navigation bar }}
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a href="/" class="navbar-item">
              Home
            </a>
            <a href="/dashboard/user-home" class="navbar-item">
              Dashboard
            </a>
            <a class="button is-primary" href="/">
              Log In
            </a>
            <a class="button is-primary" href="/">
              Sign Up
            </a>
            <button id="logout" type="button" class="button is-primary">
              Log Out
            </button>
          </div>
        </div>
      </nav>
      <section>
        {{! hero banner }}
      </section>
    </header>
    <main>
      {{! handlebar views }}
      {{{body}}}
    </main>
    <footer>
      {{! footer }}
    </footer>
  </body>
  {{! call logout script }}
  <script src="/js/logout.js"></script>
</html>