<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <title>Thought Share</title>
</head>

<body>
  {{!-- navbar from bulma --}}
  <nav class="navbar" role="navigation" aria-label="main navigation">
    {{!-- left/start side navbar --}}
    <div id="navbarBasicExample" class="navbar-menu main-color">
      <div class="navbar-start main-color">
        <a href="/" class="navbar-item main-color">
          Home
        </a>
        <a href="/dashboard/user-home" class="navbar-item main-color">
          Dashboard
        </a>
      </div>
    </div>
    {{!-- right/end side navbar --}}
    <div class="navbar-end main-color">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button invert-color" href="/login">
            <strong>Log In</strong>
          </a>
          <a class="button invert-color" href="/signup">
            <strong>Sign Up</strong>
          </a>
          <button id="logout" type="button" class="button invert-color">
            <strong>Log Out</strong>
          </button>
        </div>
      </div>
    </div>
  </nav>
  {{!-- main banner --}}
  <section class="hero invert-color">
    <div class="hero-body invert-color">
      <h1 class="title ">
        <a class="invert-color" href="/">Thought Share with Blog Posts</a>
      </h1>
    </div>
  </section>
  {{!-- area to display handlebar views when not logged in --}}
  <section class="section">
    <div class="container">
      {{{body}}}
    </div>
  </section>
</body>

<script src="/js/logout.js"></script>