{{!-- login view --}}
<div class="card">
  <header class="card-header">
    <h2 class="card-header-title">Login</h2>
  </header>
  <form id="login-form" class="card-content">
    <div class="field">
      <label for="username-input-login" class="label">Username</label>
      <div class="control">
        <input type="text" id="username-input-login" class="input" />
      </div>
    </div>
    <div class="field">
      <label for="password-input-login" class="label">Password</label>
      <div class="control">
        <input type="password" id="password-input-login" class="input" />
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button type="submit" id="login-btn" class="button is-primary">Login!</button>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <a type="button" href="/signup" class="button is-text">Sign up instead</a>
      </div>
    </div>
  </form>
</div>

<script src="/js/login.js"></script>