{{!-- write a new post view --}}
<div class="post card">
  <header class="card-header">
    <h2 class="card-header-title">Create New Post</h2>
  </header>
  <form id="new-post-form" class="card-content">
    <div class="field">
      <label class="label" for="post-title">Title</label>
      <div class="control">
        <input id="create-post-title" type="text" name="title" class="input" />
      </div>
    </div>

    <div class="field">
      <label class="label" for="post-body">Content</label>
      <div class="control">
        <textarea id="create-post-body" name="body" class="textarea"></textarea>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <button type="submit" class="button is-primary">Create</button>
      </div>
    </div>
  </form>
</div>

<script src="/js/create-post.js"></script>