{{!-- sign up to become a user view --}}
<div class="card">
  <header class="card-header">
    <h2 class="card-header-title">Sign Up</h2>
  </header>
  <div id="signup" role="tabpanel">
    <form id="signup-form" class="card-content">
      <div class="field">
        <label class="label" for="username-input-signup">Username</label>
        <div class="control">
          <input type="text" id="username-input-signup" class="input" />
        </div>
      </div>
      <div class="field">
        <label class="label" for="password-input-signup">Password</label>
        <div class="control">
          <input type="password" id="password-input-signup" class="input" />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button type="submit" id="signup-btn" class="button is-primary">Signup!</button>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <a href="/login" class="button is-text">Login instead</a>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>