{{!-- view for logged in user dashboard/home page --}}
<div class="posts list-group">
  {{!-- check for all Posts and show --}}
  {{#each blogposts as |post|}}
    <a class="list-item flex-row justify-space-between box" href="/dashboard/edit-post/{{id}}">
      <div class="columns is-centered">
        <div class="column is-four-fifths">
          <strong>{{post.title}}</strong>
        </div>
      </div>
    </a>
  {{/each}}
</div>
